In [1]:
import sqlite3 as sql
import pandas as pd

In [2]:
conn = sql.connect('practice1.db')

In [3]:
cursor = conn.cursor()

In [6]:
# cursor.execute('CREATE TABLE info_1(id INTEGER NOT NULL, firstname TEXT NOT NULL, familyname TEXT NOT NULL, age INTEGER NOT NULL, gwa REAL NOT NULL, gender TEXT NOT NULL)')

In [7]:
cursor.execute('CREATE TABLE info_2(applicant_no INTEGER NOT NULL, ustet_score REAL NOT NULL, jhs_gwa REAL NOT NULL, shs_gwa REAL NOT NULL, strand TEXT NOT NULL, familyname TEXT NOT NULL)')

In [8]:
info1 = pd.read_csv('3csc - csc_info1.csv')

In [9]:
info2 = pd.read_csv('3csc - csc_info2.csv')

In [12]:
# you can use this query to create a new table and have it filled with the csv file
# you can also use this query to simply fill up the existing table with the csv file
info1.to_sql(name = 'info_1', con = conn, index = False, if_exists = 'replace')

In [13]:
info2.to_sql(name = 'info_2', con = conn, index = False, if_exists = 'replace')

In [20]:
info = pd.read_sql_query('SELECT * FROM info_1 INNER JOIN info_2 ON info_1.id = info_2.applicant_no', conn)

In [17]:
info.to_csv('3csc.csv', index=False)

In [22]:
df = pd.read_sql_query('SELECT id, jhs_gwa, shs_gwa, ustet_score, gwa, 4.83652 + (0.35505)*age + (-0.03578)*ustet_score + (-0.01233)*jhs_gwa + (-0.05605)*shs_gwa AS predicted_gwa FROM info_1 INNER JOIN info_2 ON info_1.id = info_2.applicant_no', conn)
df

            id  jhs_gwa  shs_gwa  ustet_score   gwa  predicted_gwa
0   2018107987    91.00    94.00        80.00  1.69       3.039440
1   2019130134    88.88    77.77        69.00  4.20       4.013801
2   2019132083    91.42    93.00        87.00  5.00       2.484801
3   2019129789    96.00    97.00        95.00  5.00       2.272940
4   2019132627    90.00    91.00        88.00  2.00       2.578630
5   2019128089    80.08    96.69        69.42  4.20       3.046811
6   2019131905    90.00    90.00        90.00  1.00       2.563120
7   2019128151    94.17    93.24        97.00  5.00       2.079642
8   2018117965    89.68    91.36        88.00  2.00       2.917448
9   2019128312    91.00    92.00        90.00  1.00       2.793740
10  2019128272    86.00    92.00        85.00  2.00       2.679240
11  2019128232    87.50    88.90        92.00  3.14       2.939090
12  2015081794    90.00    95.00        85.00  5.00       3.171870
13  2019128253    91.00    91.00        91.00  2.00       2.458960
14  2019127901    92.00    89.00        85.00  3.00       2.773410
15  2019128145    91.00    94.00        90.00  1.00       2.326590
16  2019128203    84.00    90.00        96.00  3.00       2.777470
17  2019128149    75.00    75.00        76.00  5.00       3.734690
18  2019128005    76.00    77.00        75.00  5.00       4.001090
19  2019128314    90.00    90.00        89.00  3.00       2.953950
20  2019127972    87.00    85.00        90.00  1.00       2.880360
21  2019128026    85.00    85.00        85.00  3.00       3.438970
22  2019131291    90.00    87.00        89.50  2.00       2.749160
23  2019128213    84.00    91.00        86.00  2.00       3.079220
24  2019131907    89.00    99.00        79.00  1.01       2.464580