In [1]:
#Angelo Louis L. Hizon
import sqlite3 as sql

In [2]:
conn = sql.connect("3csc.db")

In [3]:
cursor = conn.cursor()

In [4]:
import pandas as pd

In [5]:
t1 = pd.read_csv('3csc - csc_info1.csv')
t1

            id         firstname familyname  age   gwa gender
0   2018107987       John Louise     Lagazo   21  1.69      M
1   2019130134       John Angelo    Algarne   20  4.20      M
2   2019132083            Angelo      Hizon   20  5.00      M
3   2019129789         Chlarizza     Torres   21  5.00      F
4   2019132627          Abraham     Militar   20  2.00      M
5   2019128089            Andrei    Benitez   20  4.20      M
6   2019131905             Keane     Tejada   20  1.00      M
7   2019128151             Anton     Bondoc   20  5.00      M
8   2018117965       Carl Joseph       Paez   21  2.00      M
9   2019128312              Karl  Tabajonda   21  1.00      M
10  2019128272             Carlo   Sindayen   20  2.00      M
11  2019128232             Aaron     Santos   21  3.14      M
12  2015081794             Allen    Marders   22  5.00      M
13  2019128253           Bridget      Plaza   20  2.00      F
14  2019127901            Enrico      Oliva   20  3.00      M
15  2019128145       Jasmine Joy        Lam   20  1.00      F
16  2019128203             Ronan   Doncillo   21  3.00      M
17  2019128149             Rowel    Buluran   19  5.00      M
18  2019128005          Dominick    Segundo   20  5.00      M
19  2019128314             Franz       Amog   21  3.00      M
20  2019127972  Kerwin Dominique     Aquino   20  1.00      M
21  2019128026  Lorenz Christian      Tadeo   21  3.00      M
22  2019131291       Leira Marie    Teodoro   20  2.00      F
23  2019128213          John Vic       Ilas   21  2.00      M
24  2019131907       Lester John   Quilaman   20  1.01      M

In [6]:
#Angelo Louis L. Hizon
t2 = pd.read_csv('3csc - csc_info2.csv')
t2

    applicant_no  ustet_score  jhs_gwa  shs_gwa strand familyname
0     2018107987        80.00    91.00    94.00    ABM     Lagazo
1     2019130134        69.00    88.88    77.77   STEM    Algarne
2     2019132083        87.00    91.42    93.00   STEM      Hizon
3     2019129789        95.00    96.00    97.00    GAS     Torres
4     2019132627        88.00    90.00    91.00   STEM    Militar
5     2019128089        69.42    80.08    96.69   STEM    Benitez
6     2019131905        90.00    90.00    90.00   STEM     Tejada
7     2019128151        97.00    94.17    93.24    ABM     Bondoc
8     2018117965        88.00    89.68    91.36    ABM       Paez
9     2019128312        90.00    91.00    92.00    ABM  Tabajonda
10    2019128272        85.00    86.00    92.00   PEST   Sindayen
11    2019128232        92.00    87.50    88.90   STEM     Santos
12    2015081794        85.00    90.00    95.00  HUMMS    Marders
13    2019128253        91.00    91.00    91.00   STEM      Plaza
14    2019127901        85.00    92.00    89.00   STEM      Oliva
15    2019128145        90.00    91.00    94.00   STEM        Lam
16    2019128203        96.00    84.00    90.00   STEM   Doncillo
17    2019128149        76.00    75.00    75.00   STEM    Buluran
18    2019128005        75.00    76.00    77.00   STEM    Segundo
19    2019128314        89.00    90.00    90.00   STEM       Amog
20    2019127972        90.00    87.00    85.00   STEM     Aquino
21    2019128026        85.00    85.00    85.00    ICT      Tadeo
22    2019131291        89.50    90.00    87.00    ABM    Teodoro
23    2019131907        79.00    89.00    99.00    MAD   Quilaman
24    2019128213        86.00    84.00    91.00   STEM       Ilas

In [7]:
#Angelo Louis L. Hizon
t1.to_sql(name = 'table1', con = conn, index = False, if_exists = 'replace')

In [8]:
t2.to_sql(name = 'table2', con = conn, index = False, if_exists = 'replace')

In [18]:
#pred_gwa = 4.278998 + (0.357923)*age + (-0.043956)*ustet_score + (-0.004219)*jhs_gwa + (-0.050614)*shs_gwa
cursor.execute("SELECT * FROM table1 UNION SELECT * FROM table2")

In [19]:
cursor.fetchall()

[(2015081794, 85.0, 90.0, 95.0, 'HUMMS', 'Marders'),
 (2015081794, 'Allen', 'Marders', 22, 5.0, 'M'),
 (2018107987, 80.0, 91.0, 94.0, 'ABM', 'Lagazo'),
 (2018107987, 'John Louise', 'Lagazo', 21, 1.69, 'M'),
 (2018117965, 88.0, 89.68, 91.36, 'ABM', 'Paez'),
 (2018117965, 'Carl Joseph', 'Paez', 21, 2.0, 'M'),
 (2019127901, 85.0, 92.0, 89.0, 'STEM', 'Oliva'),
 (2019127901, 'Enrico', 'Oliva', 20, 3.0, 'M'),
 (2019127972, 90.0, 87.0, 85.0, 'STEM', 'Aquino'),
 (2019127972, 'Kerwin Dominique', 'Aquino', 20, 1.0, 'M'),
 (2019128005, 75.0, 76.0, 77.0, 'STEM', 'Segundo'),
 (2019128005, 'Dominick', 'Segundo', 20, 5.0, 'M'),
 (2019128026, 85.0, 85.0, 85.0, 'ICT', 'Tadeo'),
 (2019128026, 'Lorenz Christian', 'Tadeo', 21, 3.0, 'M'),
 (2019128089, 69.42, 80.08, 96.69, 'STEM', 'Benitez'),
 (2019128089, 'Andrei', 'Benitez', 20, 4.2, 'M'),
 (2019128145, 90.0, 91.0, 94.0, 'STEM', 'Lam'),
 (2019128145, 'Jasmine Joy', 'Lam', 20, 1.0, 'F'),
 (2019128149, 76.0, 75.0, 75.0, 'STEM', 'Buluran'),
 (2019128149, 'Rowel', 'Buluran', 19, 5.0, 'M'),
 (2019128151, 97.0, 94.17, 93.24, 'ABM', 'Bondoc'),
 (2019128151, 'Anton', 'Bondoc', 20, 5.0, 'M'),
 (2019128203, 96.0, 84.0, 90.0, 'STEM', 'Doncillo'),
 (2019128203, 'Ronan', 'Doncillo', 21, 3.0, 'M'),
 (2019128213, 86.0, 84.0, 91.0, 'STEM', 'Ilas'),
 (2019128213, 'John Vic', 'Ilas', 21, 2.0, 'M'),
 (2019128232, 92.0, 87.5, 88.9, 'STEM', 'Santos'),
 (2019128232, 'Aaron', 'Santos', 21, 3.14, 'M'),
 (2019128253, 91.0, 91.0, 91.0, 'STEM', 'Plaza'),
 (2019128253, 'Bridget', 'Plaza', 20, 2.0, 'F'),
 (2019128272, 85.0, 86.0, 92.0, 'PEST', 'Sindayen'),
 (2019128272, 'Carlo', 'Sindayen', 20, 2.0, 'M'),
 (2019128312, 90.0, 91.0, 92.0, 'ABM', 'Tabajonda'),
 (2019128312, 'Karl', 'Tabajonda', 21, 1.0, 'M'),
 (2019128314, 89.0, 90.0, 90.0, 'STEM', 'Amog'),
 (2019128314, 'Franz', 'Amog', 21, 3.0, 'M'),
 (2019129789, 95.0, 96.0, 97.0, 'GAS', 'Torres'),
 (2019129789, 'Chlarizza', 'Torres', 21, 5.0, 'F'),
 (2019130134, 69.0, 88.88, 77.77, 'STEM', 'Algarne'),
 (2019130134, 'John Angelo', 'Algarne', 20, 4.2, 'M'),
 (2019131291, 89.5, 90.0, 87.0, 'ABM', 'Teodoro'),
 (2019131291, 'Leira Marie', 'Teodoro', 20, 2.0, 'F'),
 (2019131905, 90.0, 90.0, 90.0, 'STEM', 'Tejada'),
 (2019131905, 'Keane', 'Tejada', 20, 1.0, 'M'),
 (2019131907, 79.0, 89.0, 99.0, 'MAD', 'Quilaman'),
 (2019131907, 'Lester John', 'Quilaman', 20, 1.01, 'M'),
 (2019132083, 87.0, 91.42, 93.0, 'STEM', 'Hizon'),
 (2019132083, 'Angelo', 'Hizon', 20, 5.0, 'M'),
 (2019132627, 88.0, 90.0, 91.0, 'STEM', 'Militar'),
 (2019132627, 'Abraham ', 'Militar', 20, 2.0, 'M')]

In [40]:
#Angelo Louis L. Hizon
test = pd.read_sql_query("SELECT id, firstname, table1.familyname, age, ustet_score, jhs_gwa, shs_gwa, 4.278998 + (0.357923)*age + (-0.043956)*ustet_score + (-0.004219)*jhs_gwa + (-0.050614)*shs_gwa as pred_gwa FROM table1 LEFT OUTER JOIN table2 ON table1.id = table2.applicant_no", conn)
test

,id,firstname,familyname,gwa,age,ustet_score,jhs_gwa,shs_gwa,pred_gwa
0,2018107987,John Louise,Lagazo,1.69,21,80.00,91.00,94.00,3.137256
1,2019130134,John Angelo,Algarne,4.20,20,69.00,88.88,77.77,4.093258
2,2019132083,Angelo,Hizon,5.00,20,87.00,91.42,93.00,2.520483
3,2019129789,Chlarizza,Torres,5.00,21,95.00,96.00,97.00,2.304979
4,2019132627,Abraham,Militar,2.00,20,88.00,90.00,91.00,2.583746
5,2019128089,Andrei,Benitez,4.20,20,69.42,80.08,96.69,3.154307
6,2019131905,Keane,Tejada,1.00,20,90.00,90.00,90.00,2.546448
7,2019128151,Anton,Bondoc,5.00,20,97.00,94.17,93.24,2.057173
8,2018117965,Carl Joseph,Paez,2.00,21,88.00,89.68,91.36,2.924798
9,2019128312,Karl,Tabajonda,1.00,21,90.00,91.00,92.00,2.798924
10,2019128272,Carlo,Sindayen,2.00,20,85.00,86.00,92.00,2.681876
11,2019128232,Aaron,Santos,3.14,21,92.00,87.50,88.90,2.882682
12,2015081794,Allen,Marders,5.00,22,85.00,90.00,95.00,3.229004
13,2019128253,Bridget,Plaza,2.00,20,91.00,91.00,91.00,2.447659
14,2019127901,Enrico,Oliva,3.00,20,85.00,92.00,89.00,2.808404
15,2019128145,Jasmine Joy,Lam,1.00,20,90.00,91.00,94.00,2.339773
16,2019128203,Ronan,Doncillo,3.00,21,96.00,84.00,90.00,2.665949
17,2019128149,Rowel,Buluran,5.00,19,76.00,75.00,75.00,3.626404
18,2019128005,Dominick,Segundo,5.00,20,75.00,76.00,77.00,3.922836
19,2019128314,Franz,Amog,3.00,21,89.00,90.00,90.00,2.948327
20,2019127972,Kerwin Dominique,Aquino,1.00,20,90.00,87.00,85.00,2.812175
21,2019128026,Lorenz Christian,Tadeo,3.00,21,85.00,85.00,85.00,3.398316
22,2019131291,Leira Marie,Teodoro,2.00,20,89.50,90.00,87.00,2.720268
23,2019128213,John Vic,Ilas,2.00,21,86.00,84.00,91.00,3.054895
24,2019131907,Lester John,Quilaman,1.01,20,79.00,89.00,99.00,2.578657

In [34]:
cursor.execute("SELECT id, firstname, gwa, age, ustet_score, jhs_gwa, shs_gwa, 4.278998 + (0.357923)*age + (-0.043956)*ustet_score + (-0.004219)*jhs_gwa + (-0.050614)*shs_gwa FROM table1 LEFT OUTER JOIN table2 ON table1.id = table2.applicant_no")

In [35]:
list = cursor.fetchall()

In [36]:
for item in list:
    print(item[0], '-', item[1], '-', item[2], '-', item[3], '-', item[4], '-', item[5], '-', item[6], '-', item[7])

2018107987 - John Louise - 1.69 - 21 - 80.0 - 91.0 - 94.0 - 3.137255999999999
2019130134 - John Angelo - 4.2 - 20 - 69.0 - 88.88 - 77.77 - 4.093258499999999
2019132083 - Angelo - 5.0 - 20 - 87.0 - 91.42 - 93.0 - 2.5204830199999986
2019129789 - Chlarizza - 5.0 - 21 - 95.0 - 96.0 - 97.0 - 2.3049789999999994
2019132627 - Abraham  - 2.0 - 20 - 88.0 - 90.0 - 91.0 - 2.5837459999999988
2019128089 - Andrei - 4.2 - 20 - 69.42 - 80.08 - 96.69 - 3.1543072999999993
2019131905 - Keane - 1.0 - 20 - 90.0 - 90.0 - 90.0 - 2.546448
2019128151 - Anton - 5.0 - 20 - 97.0 - 94.17 - 93.24 - 2.057173409999999
2018117965 - Carl Joseph - 2.0 - 21 - 88.0 - 89.68 - 91.36 - 2.924798039999998
2019128312 - Karl - 1.0 - 21 - 90.0 - 91.0 - 92.0 - 2.7989239999999995
2019128272 - Carlo - 2.0 - 20 - 85.0 - 86.0 - 92.0 - 2.681876
2019128232 - Aaron - 3.14 - 21 - 92.0 - 87.5 - 88.9 - 2.882681899999999
2015081794 - Allen - 5.0 - 22 - 85.0 - 90.0 - 95.0 - 3.2290039999999998
2019128253 - Bridget - 2.0 - 20 - 91.0 - 91.0 - 91.0 - 2.447658999999999
2019127901 - Enrico - 3.0 - 20 - 85.0 - 92.0 - 89.0 - 2.8084039999999995
2019128145 - Jasmine Joy - 1.0 - 20 - 90.0 - 91.0 - 94.0 - 2.339772999999999
2019128203 - Ronan - 3.0 - 21 - 96.0 - 84.0 - 90.0 - 2.6659489999999986
2019128149 - Rowel - 5.0 - 19 - 76.0 - 75.0 - 75.0 - 3.626404
2019128005 - Dominick - 5.0 - 20 - 75.0 - 76.0 - 77.0 - 3.922836
2019128314 - Franz - 3.0 - 21 - 89.0 - 90.0 - 90.0 - 2.948326999999999
2019127972 - Kerwin Dominique - 1.0 - 20 - 90.0 - 87.0 - 85.0 - 2.812175
2019128026 - Lorenz Christian - 3.0 - 21 - 85.0 - 85.0 - 85.0 - 3.3983159999999994
2019131291 - Leira Marie - 2.0 - 20 - 89.5 - 90.0 - 87.0 - 2.720267999999998
2019128213 - John Vic - 2.0 - 21 - 86.0 - 84.0 - 91.0 - 3.0548949999999992
2019131907 - Lester John - 1.01 - 20 - 79.0 - 89.0 - 99.0 - 2.5786569999999998